.logo {
    a {
        text-decoration: none;
    }
}

.bi-book::before {
    vertical-align: top !important;
    position: relative !important;

}
.video-overlay{
    position: absolute;
    width: 100%;
    height: 14%;
    background-color: rgba(0,0,0,0.5);
    @media screen and (max-width: 600px){
        background-color: unset;
    }
    @media screen and (max-width: 1180px){
        top: 0px;
    }
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
}

#preloader:before {
content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #000000;
    border-top-color: #e7e4fe;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
    [data-aos-delay] {
        transition-delay: 0 !important;
    }
}
span, p, a{
   font-family: sans-serif;
    color : $text_color;
}

#header .logo img {
    max-height: 200px !important;
    margin-top: -72px;
    margin-bottom: -85px;
}


.navbar .getstarted:hover, .navbar .getstarted:focus:hover {
  border: 2px solid #262626;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
    color: #040556;
}

.navbar li:hover > a span {
    color: #000000;
}

.navbar a, .navbar a:hover{
    color: #040556;
}

.navbar a, .navbar a:focus {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #000000;
  white-space: nowrap;
}
.navbar>ul>li>a:before {
    content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: -5px;
        left: 0;
        background-color: #040556;
        visibility: hidden;
        width: 0px;
        transition: all 0.3s ease-in-out 0s;
    }
.navbar li:hover > a span{
   color: #000000;
}

.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #000000 ;
  white-space: nowrap;
  transition: 0.3s;
  position: relative;
}

.navbar .getstarted,
.navbar .getstarted:focus {
    padding: 8px 25px;
    border-radius: 5px;
    color: #000000;
    transition: 0.3s;
    font-size: 14px;
    font-weight: 600;
    border: 2px solid #b9b5b5;
}


.nav-link:hover, .nav-link:focus {
    color: #040556 ;
  }


.navbar .getstarted:hover, .navbar .getstarted:focus:hover {
  color: #000000;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
    color: #040556;;
}


.counts {
  background: #f3f3f3;
  padding: 80px 0 60px 0;

}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about {
    padding: 120px 0;
}
.about .content .fst-italic{
    line-height: 30px;
    font-size: 18px !important;
}

.about .content h3, .about .content .h3 {
    font-weight: 400;
  font-size: 72px;
  color: #000000;
}
.about .content h3 span {
  font-size: 72px;
  display: block;
  line-height: 65px;
}

.about .content p {
    font-size: 23px;
    line-height: 15px;
    font-family: sans-serif;

}

.about .content .about-detail{
    margin : 50px auto auto auto

}


.about .content ul {
    list-style: none;
    padding: 0;
}

.about .content ul li {
    padding-bottom: 10px;
}

.about .content ul i {
    font-size: 20px;
    padding-right: 4px;
    color: #5846f9;
}

.about .content p:last-child {
    margin-bottom: 0;
}

.about .content .read-more {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 50px 10px 28px;
    border-radius: 50px;
    transition: 0.5s;
    color: #ffffff;
    background: #000000;
    position: relative;
    margin: 30px auto auto auto;
}

.about .content .read-more:hover {
    background: #262626;
}

.about .content .read-more i {
    font-size: 22px;
    position: absolute;
    right: 20px;
    top: 12px;
}


.counts .counters p {
    padding: 0;
    margin: 0 0 20px 0;
    font-size: 15px;
    color: #000000;
}

.counts .counters span {
    font-size: 26px;
    display: block;
    color: #000000;
    font-weight: 600;
}

.counts .counters span:before {
    content: '';
    display: inline-block;
    width: 50px;
    height: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    background-color: #000000;
    position: relative;
    vertical-align: top;
    top: -5px;
    right: 25px;
}


.features{
    background: #000000;
    padding: 0px 0px 0px 0px;
}

.hover-1 {
    background: linear-gradient(#1095c1 0 0) var(--p,0%) / var(--p,0%) no-repeat;
    transition: .4s,background-position 0s;
}
.hover-1.alt {
    background: linear-gradient(#1095c1 0 0) calc(100% - var(--p,0%)) / var(--p,0%) no-repeat;
}
.hover-1:hover {
    --p: 100%;
    color: white;
}

.hover-2 {
    background: linear-gradient(#1095c1 0 0) no-repeat calc(200% - var(--p, 0%))
        100% / 200% var(--p, 0.08em);
    transition: 0.3s var(--t, 0s),
        background-position 0.3s calc(0.3s - var(--t, 0s));
}
.hover-2:hover {
    --p: 100%;
    --t: 0.3s;
    color: #fff;
}

.hover-3 {
    --c: no-repeat linear-gradient(#1095c1 0 0);
    background: 
        var(--c)  calc(-101% + var(--p,0%)) 100% / 50.1% var(--p,.08em),
        var(--c)  calc( 201% - var(--p,0%)) 0    / 50.1% var(--p,.08em);
    transition: .3s var(--t,0s), background-position .3s calc(.3s - var(--t,0s));
}
.hover-3:hover {
    --p: 101%;
    --t: 0.3s;
    color: white;
}

.hover-4 {
    --c: #1095c1;
    line-height: 1.2em;
    background: conic-gradient(from -135deg at 100% 50%, var(--c) 90deg, #0000 0)
        0 var(--p, 0%),
        conic-gradient(from -135deg at 1.2em 50%, #0000 90deg, var(--c) 0) 100%
        var(--p, 0%);
    background-size: var(--s, 0%) 200%;
    background-repeat: no-repeat;
    transition: 0.4s ease-in, background-position 0s;
}
.hover-4:hover {
    --p: 100%;
    --s: calc(
        50% + 0.61em
    ); /* it should be 0.6em(1.2em/2) but we use a litte bigger */
    color: #fff;
}

.hero-video{
    position: relative;
    margin-top: -96px;
    z-index: -11;
    width: 100%;
}

.text-white{
    color:white;
}

.our-work{
    font-size: 150px;
    font-variant: small-caps;
}

.services-title{
    font-size: 65px;
    font-variant: small-caps;
}

.services .icon-box h4 {
    font-weight: 600;
    margin: 10px 0 15px 0;
    font-size: 20px;
}

.services .icon-box p {
    line-height: 24px;
    font-size: 17px;
    margin-bottom: 0;
}
.services .icon-box {
  text-align: center;
  padding: 70px 20px 80px 20px;
  transition: all ease-in-out 0.3s;
  background: #f3f3f3;
}

#footer {
    color: #fff;
    font-size: 14px;
    background: #000000;;
    background-size: cover;
}

.cta-banner{
    padding: 58px 0;
}

input[type="text"], input[type="date"], input[type="email"], input[type="password"], select {
  background: #262626;
  border: none;
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.2em;
  line-height: 24px;
  height: 42px;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: none;
  width: 100%;
  color: #000000;
}

#header.header-scrolled, #header.header-inner-pages {
  background: #f3f3f3 !important;
  padding: 12px 0;
}

.creators-bg{
    background-color: rgb(36, 36, 36);
    transition: background-color 0.35s ease-in-out 0s;
}
.vid_show{
    overflow: hidden;
    @media screen and (max-width: 600px) {
        .desktop_view_vid{
            display: none;
        }
        .mobile_view_vid{
            display: block;
            margin-top: -100px;
        }
    }
    @media screen and (min-width: 1100px) {
        .desktop_view_vid{
            display: block;
        }
        .mobile_view_vid{
            display: none;
        }
    }
}

hgroup { 
  text-align:center;
  margin-top: 4em;
}

/*------------------------------------------------------------------
[ Login Form ]*/

.log-form {
  width: 500px;
  margin: 4em auto;
  padding: 3em 2em 2em 2em;
  background: #fafafa;
  border: 1px solid #ebebeb;
  box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

.log-form .remember_info{
 margin :0px auto;
 text-align: center;
    
}

.group { 
  position: relative; 
  margin-bottom: 45px; 
}

.log-input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  -webkit-appearance: none;
  display: block;
  background: #fafafa;
  color: #636363;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #757575;
}

.log-input:focus { outline: none; }

.log-form .read-more, .registration_form .register-now{
    font-size: 9px;
    font-weight: 600;
    letter-spacing: 0.3em;
    line-height: 24px;
    text-transform: uppercase;
    color: #ffffff;
    background: #000000;
    border-radius :50px;
    width :30%;
    border :none
}

.log-form .read-more:hover, .registration_form .register-now:hover{
    font-size: 9px;
    font-weight: 600;
    letter-spacing: 0.3em;
    line-height: 24px;
    text-transform: uppercase;
    color: #ffffff;
    background: #262626;
    border-radius :50px;
    width :30%;
    border :#f3f3f3;
}
.log-form .forgot-password, .register-now, .login-now{
   color: #000000;
   text-decoration: underline;
    

}

.log-form .forgot-password:hover, .register-now:hover, .login-now:hover{
   color: #262626;
     text-decoration: underline;

    

}

.left-align {
    float: left;
    text-align: left;
}

.right-align {
    float: right;
    text-align: right;
}


/*------------------------------------------------------------------
[ Button same code as contact form ]*/

input[type="text"],input[type="date"], input[type="email"], input[type="password"], select {
    background: transparent;
    border: none;
    font-family: "Montserrat";
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.2em;
    line-height: 24px;
    height: 42px;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: none;
    width: 100%;
}

input[type="checkbox"]:not(:checked) + label, input[type="checkbox"]:checked + label {
    color: #aaaaaa;
    cursor: pointer;
    font-size: 9px;
    font-weight: 600;
    letter-spacing: 0.3em;
    padding-left: 10px;
    padding-top: 6px;
    position: relative;
    text-transform: uppercase;
}

.nav-bg-on {
   background: rgba(240, 232, 232, 0.5);
}


  .features-info{
    position: relative;
    padding: 0px 0px;
    float: left;
 }   
  .features-info img{
   width :600px;
 }    
   .features-contents{
      float: right;
      margin: 70px -110px auto auto;
      color: #ffffff;
    }

  .features-contents h2{
      font-size: 31px;
      text-align:center;
 }
  .features-contents p{
      font-size: 20px;
      color : #ffffff;
      line-height: 15px;
 }


 .services .icon-box h4 a {
    color: #000000;
    transition: ease-in-out 0.3s;
}
#sub-services{
    padding:0px 0px 0px 0px;
}

.contact .info-box h3 {
    font-size: 20px;
    color: #000000;
    font-weight: 700;
    margin: 10px 0;
}

.contact .php-email-form {
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 30px;
    background: #fff;
    font-family: sans-serif;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
    border-color: #262626;
}

.contact .php-email-form input {
    padding: 10px 15px;
    font-family: sans-serif;
    font-size: 16px;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
    border-radius: 5px;
    box-shadow: none;
    font-size: 16px;
}

.contact .php-email-form textarea {
    padding: 12px 15px;
    font-family: sans-serif;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
    border-color: #000000;
}

.services .iconbox-blue i {
  color: #2c3e50;
}
.services .icon-box .icon svg path {
  transition: 0.5s;
  fill: #f5f5f5;
}
.services .iconbox-blue:hover .icon path {
  fill: #000000;
}
.services .iconbox-blue:hover .icon i {
    fill: #000000;
    color: #ffffff;
  }
services .icon-box .icon svg path {
    transition: 0.5s;
    fill: #000000;
}



.services .icon-box:hover {
    border-color: #fff;
    box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
}



.services .iconbox-orange i {
    color: #2c3e50;
}
.services .iconbox-orange i:hover {
    color: #ffffff
  }

.services .iconbox-orange:hover .icon i {
    fill: #000000;
    color: #ffffff;
}

.services .iconbox-orange:hover .icon path {
    fill: #000000;
}

.services .iconbox-pink i {
    color: #2c3e50;
}

.services .iconbox-pink:hover .icon i {
    color: #fff;
}

.services .iconbox-pink:hover .icon path {
    fill: #000000;
}

.services .iconbox-yellow i {
    color: #2c3e50;
}

.services .iconbox-yellow:hover .icon i {
    color: #fff;
}

.services .iconbox-yellow:hover .icon path {
    fill: #000000;
}

.services .iconbox-red i {
    color: #2c3e50;
}

.services .iconbox-red:hover .icon i {
    color: #fff;
}

.services .iconbox-red:hover .icon path {
    fill: #000000;
}

.services .iconbox-teal i {
    color: #2c3e50;
}

.services .iconbox-teal:hover .icon i {
    color: #fff;
}

.services .iconbox-teal:hover .icon path {
    fill: #000000;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/

.back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
}


.back-to-top.active {
    visibility: visible;
    opacity: 1;
}

.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #262626;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}
.back-to-top:hover{
    background: #8c8a8e;
  }
  .section-title {
    text-align: center;
    padding-bottom: 30px;
    color: #000;
}

.section-title h2::after {
    content: "";
        position: absolute;
        display: block;
        width: 50px;
        height: 3px;
        background: #1a0f0f;
        bottom: 0;
        left: calc(50% - 25px);
    }
    

    .contact .info-box i {
        font-size: 32px;
        color: #91989d;
        border-radius: 50%;
        padding: 8px;
    }

    .contact .info-box i:hover {
        font-size: 32px;
        color: #040556;
        border-radius: 50%;
        padding: 8px;
    }

   

.contact .php-email-form button[type=submit] {
    background: #000000;
    border: 0;
    padding: 10px 24px;
    color: #ffffff;
    border-radius: 5px;
    letter-spacing: 1px;
    padding: 10px 50px 10px 28px;
    border-radius: 5px;
    transition: 0.5s;
}

.contact .php-email-form button[type=submit]:hover {
    background: #262626;
}

.bg_img{
    background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/our_services-bg.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height :625px;
    width :100%;
    padding : 160px 0px 0px 0px;

}

.align_items{
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height:15px;
}
.align_items p {
    font-size : 20px;
    color: #ffffff;
    line-height: 25px;
 }
 .align_items h3 {
    font-size : 52px;
 }
.align_items button{
    border-radius: 20px;
    font-weight: bold;
    font-size:20px;
}
.breadcrumbs {
    padding: 40px 0px 30px 0px;
    background: #ffffff;
    min-height: 40px;
    margin-top: 100px;
    color: #ffffff;
    font-weight:400;
    font-size: 72px;
}

.breadcrumbs h2 {
    font-size: 28px;
    font-weight: 300;
    color : #000000;
}

.breadcrumbs ol li+li {
    padding-left: 10px;
    color : #000000;
}
.breadcrumbs a{
    color: #000000;
}

.breadcrumbs a:hover{
    color: #000000;
}


.portfolio-details .portfolio-description h2 {
  font-size: 72px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
    padding: 0;
    font-size: 17px;
    color: #262626;
}


input[type=text], input[type=date], input[type=email], input[type=password], select {
  background: transparent;
  border: none;
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.2em;
  line-height: 24px;
  height: 42px;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: none;
  width: 100%;
  color: #000000;
}

 /*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/


#footer .footer-top {
    padding: 60px 0 30px 0;
    position: relative;
}

#footer .footer-top .footer-contact {
    margin-bottom: 30px;
}


#footer .footer-top .footer-contact p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Poppins", sans-serif;
}

#footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #fff;
    font-size: 18px;
    line-height: 1;
}

#footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

#footer .footer-top .footer-links ul a {
    color: rgba(255, 255, 255, 0.8);
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}


#footer .footer-newsletter {
    font-size: 15px;
}

#footer .footer-newsletter h4 {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
}





#footer .copyright-wrap {
    border-top: 1px solid #8c8a8e;
}

#footer .credits {
    padding-top: 5px;
    font-size: 13px;
    color: #fff;
}

#footer .credits a {
    color: #fff;
}

#footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .social-links a:hover {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    text-decoration: none;
}

#footer .footer-top .footer-links ul a:hover {
        text-decoration: underline;
        color: #8c8a8e;
    }
    
#footer span{
    display :block;
    color: #ffffff;
    font-size: 31px;
}

#footer .footer-top .footer-contact h3 {
    font-size: 28px;
    margin: 0 0 30px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 500;
    text-transform: uppercase;
}
#footer .footer-info{
    display :inline-block;
    position :relative;
}

#footer .footer-newsletter form {
    margin-top: 30px;
    background: #262626;
    padding: 6px 10px;
    position: relative;
    border-radius: 5px;
    text-align: left;
    color: #ffffff;
    border: 1px solid #262626;
}

#footer .footer-newsletter form input[type=email] {
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
    color: #ffffff;
}


#footer .footer-newsletter form input[type=submit] {
    position: absolute;
    top: -1px;
    right: -2px;
    bottom: -1px;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #ffffff;
    color: #000000;
    transition: 0.3s;
    border-radius: 0 5px 5px 0;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type=submit]:hover {
    background: #b9b5b5;
}

#footer .credits a:hover {
    color: #8c8a8e;
  }

